---
import type { Page } from 'types';
import Layout from '@layouts/Layout.astro';
import Cards from '@components/Cards.astro';
import Cta from '@components/Cta.astro';
import Hero from '@components/Hero.astro';
import Logos from '@components/Logos.astro';
import Testimonials from '@components/Testimonials.astro';
import CustomHero from '@components/CustomHero.astro';
import BlogPostPreview from '@components/BlogPostPreview.astro';
import { fetchData, getPageById } from '@data/page';
import Timetable from '@components/Timetable.astro';
import HomepageCarousel from '@components/HomepageCarousel.astro';

export async function getStaticPaths() {
    const data = await fetchData();
    return data.map((page: Page) => {
        const slug = page.slug.current === '/' ? undefined : page.slug.current;
        return {
            params: { slug },
            props: { id: page._id }
        };
    });
}

const { id } = Astro.props;
const pages = await getPageById(id);
const page: Page = pages.length ? pages[0] : null;

const { _id, title, sections, metaTitle, metaDescription, socialImage } = page || {};

const componentMap = {
    cardsSection: Cards,
    ctaSection: Cta,
    heroSection: Hero,
    logosSection: Logos,
    testimonialsSection: Testimonials,
    customHeroSection: CustomHero,
    blogPostsSection: BlogPostPreview,
    timetable: Timetable,
    homepageCarousel: HomepageCarousel
};
---

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

{
    page && (
        <Layout title={metaTitle ?? title} description={metaDescription} image={socialImage}>
            <div data-sb-object-id={_id}>
                {sections?.length &&
                    sections.map((section, idx) => {
                        const Component = componentMap[section._type];
                        return <Component {...section} data-sb-field-path={`sections.${idx}`} />;
                    })}
            </div>
        </Layout>
    )
}