---
// Props: locale string, navLinks array, languagePages array with {lang, url, icon}
interface NavLink {
    name: string;
    link: string;
}
interface LanguagePage {
    lang: string;
    url: string;
    icon: string;
}

const { locale, navLinks, languagePages } = Astro.props;
const logoLink = locale === 'ua' ? 'https://st-barbara-austria.org' : 'https://st-barbara-austria.org/de/';
---

<nav class="navbar navbar-expand-lg navbar-dark color_bar sticky-top">
    <a href=" https://st-barbara-austria.org " class="navbar-brand">
        <img src="https://st-barbara-austria.org/assets/images/logo4.png" height="40px" width="177px">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

        <ul class="navbar-nav">

            <li class="nav-item ml-2 mr-2">
                <a class="nav-link" href="/ua/timetable">Розклад</a>
            </li>

            <li class="nav-item    ml-2 mr-2">
                <a class="nav-link" href="/ua/hazeta">Газета</a>
            </li>

            <li class="nav-item    ml-2 mr-2">
                <a class="nav-link" href="/ua/tayinstva">Таїнства</a>
            </li>

            <li class="nav-item    ml-2 mr-2">
                <a class="nav-link" href="/ua/pozhertvy">Допомога Україні</a>
            </li>

            <li class="nav-item    ml-2 mr-2">
                <a class="nav-link" href="/ua/history">Історія</a>
            </li>
        </ul>

    </div>

    <div style="min-width: 177px; text-align: right;">
        <button type="button" class="btn btn-outline-light">
            <img src="https://st-barbara-austria.org/assets/images/Ukraine.png" alt="Українська" style="width: 20px; height: 20px; border-radius: 30%;" class="me-2" />
        </button>
        <button type="button" class="btn">
            <img src="https://st-barbara-austria.org/assets/images/Austria.png" alt="Deutsch" style="width: 20px; height: 20px; border-radius: 30%;" class="me-2" />
        </button>
    </div>
</nav>

<!--
        <div class="dropdown">
            <button class="btn btn-light rounded-circle p-0" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="width: 40px; height: 40px;">
                <img src="https://st-barbara-austria.org/assets/images/Ukraine.png" alt="English" style="width: 100%; height: 100%; object-fit: contain; border-radius: 50%;" />
            </button>
            <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="languageDropdown" style="min-width: 60px;">
                <li><a class="dropdown-item d-flex align-items-center" href="/de"><img src="https://st-barbara-austria.org/assets/images/Austria.png" alt="Deutsch" style="width: 20px; height: 20px; border-radius: 50%;" class="me-2" /> Deutsch</a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="/ua"><img src="https://st-barbara-austria.org/assets/images/Ukraine.png" alt="Українська" style="width: 20px; height: 20px; border-radius: 50%;" class="me-2" /> Українська</a></li>
            </ul>
        </div>
-->