---
import { marked } from 'marked';
import { type HeroSection } from 'types';
import Action from '@components/Action.astro';
import Section from '@components/Section.astro';

interface Props extends HeroSection {
    'data-sb-field-path'?: string;
}

const { heading, body, cta, ...rest } = Astro.props;
---


<div class="container-fluid color_bar py-3 justify-content-center">
    <div class="container mt-3 wh-color">
        <div class="row">

            <div class="col-lg-3 col-md-12 col-sm-12 my-3">
                <a href="#"><img src="https://st-barbara-austria.org/assets/images/portret2.png" alt="" class="w-100 rounder"></a>
            </div>

            <div class="col my-3">
                <h1 class="title wh-color">Церква Св. Великомучениці Варвари у Відні</h1>
                <p>Церква Св. Великомучениці Варвари у Відні з історичної перспективи є важливим свідком зв’язків Австрії з Греко-католицькою Церквою та Україною, що пролягають через століття.</p>
                <a class="btn btn-dark m-1" href="#">Свята Великомучениця Варвара</a>
                <a class="btn btn-dark m-1" href="#">Церковна газета</a>
            </div>

        </div>
    </div>
</div>