---
import Section from './Section.astro';

const {images, ...rest} = Astro.props;
---
<Section class="container-fluid color_bar">
    <div class="container mt-2">
        <div class="pt-5 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="container-fluid p-0">
                <div id="carouselIndikators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner rounded">
                        {images.map((imageItem, index) => (
                            <div class={`carousel-item ${index === 0 ? ' active' : ''}`}>
                                <img src={imageItem.image.asset._ref} alt={imageItem.alt} class="d-block w-100">
                            </div>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>
