---
import Section from './Section.astro';
import ResponsiveImage from './ResponsiveImage.astro';
import { urlFor } from '../utils/sanityImageUrl';

const {images, ...rest} = Astro.props;
console.log('Current image: ');
console.log(JSON.stringify(images));
---
<Section class="container-fluid color_bar">
    <div class="container mt-2">
        <div class="pt-5 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="container-fluid p-0">
                <div id="carouselIndikators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner rounded">

                        {images.map((imageItem, index) => (
                            <div class={`carousel-item ${index === 0 ? ' active' : ''}`}>
                                <img
                                    src={urlFor(imageItem.image)
                                        .url()}
                                    alt={imageItem.alt}
                                    class="max-w-24"
                                />
                            </div>
                        ))}

                        <!--
                        <div class="carousel-item active"}>
                            <ResponsiveImage
                                src={image.src}
                                width={80}
                                height={80}
                                alt={image.alt}
                                class="max-w-24"
                            />
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>
